[Desktop Entry]
Version=1.0
Type=Application
Name=Alldeb Manager (mode root)
Comment=Menjalankan Alldeb Manager sebagai root (sudo)
TryExec=alldeb-manager
Exec=alldeb-manager-as-root
Terminal=false
Categories=System;PackageManager;
Icon=alldeb-manager-root
X-Desktop-File-Install-Version=0.22
